*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: arial;
}
body{
	display: flex;
	flex-direction: column;
}
header{
	background: #566c2b;
	display: flex;
	align-items: center;
	padding:10px 5%;
}
header a{
	color: #fff;
}
header ul{
	list-style: none;
	display: flex;
}
#logo{
	margin: 0 auto;
	font-size: 25px;
}
a{
	text-decoration: none;
}
#menu li{
	padding:10px;
}
#social-links li{
	padding:10px;
}
#main{
	display: flex;
}
article{
	padding: 10px;
}
aside{
	padding: 30px;
	flex:0 0 20vw;
	background: beige;
}
aside ul{
	list-style: none;	
}
aside ul a{
	color: #566c2b;
	display: block;
	padding: 10px;
	border-bottom: 1px solid grey;
}
.services-container{
	display: flex;
	justify-content: space-between;
}
.service-box{
	border: 1px solid #ccc;
	flex-basis: 32%;
	padding:10px;
	max-width: 370px;
}
.service-box img{
	width: 100%;
}
footer{
	background: #566c2b;
	color: white;
	text-align: center;
	padding: 15px;
}